html {
	display: flex;
	max-width: 1000px;
	margin: auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	display: flex;
	justify-content: center;
	color: red;
}

p {
	display: flex;
}
